<div class="bg">

  <!-- header -->
  <header class="d-flex justify-content-center p-3">
    <img class="brand-logo" src="../../../assets/main_logo.jpeg">
  </header>

  <!-- main content -->
  <div class="container d-flex flex-column justify-content-center align-items-center">

    <!-- Start Search Input For Alternate Ingredients -->
    <div class="my-5 row w-100">
      <div class="col-12">
        <div class="search d-flex justify-content-center flex-column align-items-center">
          <h3 class="text-uppercase text-center font-weight-normal" style="letter-spacing: 1.5px; margin-bottom: 24px; color: #2b2f33bf;"> what do you need to replace? </h3>
          <input #searchIngredient type="text" placeholder="Enter an ingredient" class="search-input">
        </div>
      </div>
    </div>
    <!-- End Search Input For Alternate Ingredients -->

    <div *ngIf="alternateIngredients.length === 0" class="row w-100">
      <div class="col-12">
        <p class="text-center">No Ingredients Found</p>
      </div>
    </div>

    <!-- Alternate Ingredient Cards -->
    <div class="row w-100">

      <!-- Cards -->
      <ng-container *ngFor="let ingredient of alternateIngredients">
        <div *ngIf="ingredient.name !== '' " class="col-12 col-md-4 mb-3 mb-md-0">
          <!-- <div class="card"> -->
            <img src="{{ingredient.imageSrc || '../../../assets/default.png'}}" class="card-img-top" [alt]="ingredient.imageAlt">
            <h5 class="card-title">{{ingredient.name}}</h5>
        </div>
      </ng-container>
    </div>

  </div>

</div>

<!-- Footer -->
<footer class="p-1 bg-white">
  <div class="container-fluid">
    <div class="row small">
      <div class="col-12 col-sm-6">
        <p class="mb-0" style="line-height: 2.4;">Copyright subthegrub.com. All Rights Reserved</p>
      </div>
      <div class="col-12 col-sm-6">
        <p class="mb-0 text-sm-right">Brought to you by <img width="110px" src="../../../assets/footer_logo.png"></p>
      </div>
    </div>
  </div>
</footer>