<div class="bg">
    <div class="container d-flex flex-column justify-content-center align-items-center">

      <!-- Start Search Input For Alternate Ingredients -->
      <div class="my-5 row w-100">
        <div class="col-12">
          <div class="form-group">
            <label for="search"><strong>Main Ingredient</strong></label>
            <input #searchIngredient type="text" placeholder="Search Ingredients ..." class="form-control">
            <small class="form-text text-muted">Search for alternate ingredients.</small>
          </div>
        </div>
      </div>
      <!-- End Search Input For Alternate Ingredients -->

      <!-- Alternate Ingredient Cards -->
      <div class="row w-100">
        <div class="col-12">
          <p><strong>Alternate Ingredients</strong></p>
        </div>
      </div>

      <div *ngIf="alternateIngredients.length === 0" class="row w-100">
        <div class="col-12">
          <p class="text-center">No Ingredients Found</p>
        </div>
      </div>

      <div class="row w-100">

        <!-- Cards -->
        <ng-container *ngFor="let ingredient of alternateIngredients">
          <div *ngIf="ingredient.name !== '' " class="col-12 col-md-4 mb-3 mb-md-0">
            <div class="card">
              <img [src]="ingredient.imageSrc" class="card-img-top" [alt]="ingredient.imageAlt">
              <div class="card-body">
                <h5 class="card-title">{{ingredient.name}}</h5>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
</div>