<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/add-ingredient' routerLinkActive="active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Add Ingredients</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/edit-ingredient' routerLinkActive="active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Edit Ingredients</span>
      </a>
    </li>
  </ul>
</nav>