.purchase-banner-active .navbar.fixed-top + .page-body-wrapper {
    padding-top: calc(63px + 55px);
}

.navbar.fixed-top + .page-body-wrapper {
    padding-top: 63px;
}

.page-body-wrapper {
    padding-top: 63px;
}
.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 270px);
    min-height: calc(100vh - 63px);
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    background: #F3F3F3;
    padding: 1.5rem 1.7rem;
    width: 100%;
    flex-grow: 1;
}

.footer {
    background: #dbdbdb;
    padding: 20px 1rem;
    transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    border-top: 1px solid #cdd6dc;
    font-size: calc(0.875rem - 0.05rem);
    font-family: "roboto", sans-serif;
}