ul {
    display: flex;
    list-style: none;
    margin: 0px;
}

a {
    color: #1b45efb3;
}

a:hover {
    color: #1b45ef;
}

.active {
    color: #1b45ef;
}

.nav-links{
    display: none;
}

@media (max-width: 991.5px) {
    .nav-links{
        display: flex;
    }
}