<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin pr-0">
    <div class="row flex-grow w-100">
      <div class="col-12 pr-0">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Ingregient</h4>
            <form class="forms-sample" [formGroup]="ingredientsForm" (submit)="submit(ingredientsForm)">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ingredient Name</label>
                  <input type="text" formControlName='ingredient' class="form-control" placeholder="Enter ingredient name">
                </div>
                <br>
                <p class="card-description d-flex justify-content-between">
                  <strong>Alternate Ingredients</strong>
                </p>
  
                <div class="mb-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Substitute Name 1</label>
                    <input type="text" formControlName='ingredientName1' class="form-control" placeholder="Enter ingredient name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Image</label>
                    <input formControlName="file1" type="file" class="form-control" (change)="onFileChange($event, 'file1')" style="height: calc(1.5em + .75rem + 8px);">
                  </div>
                </div>
  
                <div class="mb-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Substitute Name 2</label>
                    <input type="text" formControlName='ingredientName2' class="form-control" placeholder="Enter ingredient name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Image</label>
                    <input formControlName="file2" type="file" class="form-control" (change)="onFileChange($event, 'file2')" style="height: calc(1.5em + .75rem + 8px);">
                  </div>
                </div>
  
                <div class="mb-3">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Substitute Name 3</label>
                    <input type="text" formControlName='ingredientName3' class="form-control" placeholder="Enter ingredient name">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Image</label>
                    <input formControlName="file3" type="file" class="form-control" (change)="onFileChange($event, 'file3')" style="height: calc(1.5em + .75rem + 8px);">
                  </div>
                </div>
                
  
                <button class="btn btn-success mr-2" type="submit">Submit</button>
                <button class="btn btn-light">Cancel</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>